- const cards = [{name: "Colton Smith", description: "“ We needed the same printed design as the one we had ordered a week prior. Not only did they find the original order, but we also received it in time. Excellent! ”", image: "/image-colton.jpg"}, {name: "Irene Roberts", description: "“ Customer service is always excellent and very quick turn around. Completely delighted with the simplicity of the purchase and the speed of delivery.”", image: "/image-irene.jpg"}, {name: "Anne Wallace", description: "“ Put an order with this company and can only praise them for the very high standard. Will definitely use them again and recommend them to everyone! ”", image: "/image-anne.jpg"}]

.container--testimonials
  each card in cards
    .testimonial
      img.testimonial__avatar(src=card.image, alt=`${card.name}'s Avatar`)
      .testimonial__user
        h3.testimonial__user--name #{card.name}
        span.testimonial__user--position Verified Buyer
      p.testimonial__description #{card.description}